<nav class="menu" role="nav">
    <ul>
      <li><a href="https://github.com/superafroman">GitHub</a></li>
      <li><a href="http://twitter.com/superafroman">Twitter</a></li>
      <li><a href="/projects">My projects</a></li>
    </ul>
</nav>
